### Terraform ###
/.terraform/
/test-module/
*.tfvars
*.tfstate.backup
*.tfstate

### config files ####
*.zip
*.properties
*.conf
*.config

#### Packages #####
*.jar

### SSH keys ###
*.pem
*.ppk
james_keystore_with_ssl_certificate_do_not_delete
james_keystore_with_ssl_certificate_do_not_delete
*certificate*
*credential*
*.crt
*AccessKey*

### IntelliJ IDE ###
./.idea/*
