########################          AWS PARAMETERS          #######################
# This file contains the variables that are used in the terraform code.
#The vpc id of my aws account
my_vpc_id = "vpc-1a2a3a4a5a6a7a8a9a"



########################      DOCKER SHARED RESOURCES     #######################
# docker network name. it is usually named newnet
docker-network = "newnet"



########################  DATABASE CONTAINER PARAMETERS   #######################
#database container name
db-container-name = "db-cont"

#database image
# PostgresSQL:       "postgres:16.3"
# MySQL:            "mysql:9.2.0"
db-image = "mysql:9.2.0"

#Dtabase SW. it can be postgres, or mysql. This parameter is used in Database Connection URL in
# file james-database.properties
#PostgresSQL: postgres
#MySQL:       mysql
db_software = "mysql"

#The password for the postgres database which is being made inside the EC2 instance docker image.
#PostgreSQL:        "org.postgresql.Driver"
#MySQL:             "com.mysql.cj.jdbc.Driver"
db_driver_className = "com.mysql.cj.jdbc.Driver"

#The password for the postgres database which is being made inside the EC2 instance docker image.
db_username = "james"

#The password for the postgres database which is being made inside the EC2 instance docker image.
db_password = "password"

#The name of the database that will be created in the Postgres container that is running inside EC2 instance
db_name = "james"

#configuration files
#address to download JDBC driver
#PostgreSQL     "https://jdbc.postgresql.org/download/postgresql-42.7.5.jar"
#MySQL          "https://dev.mysql.com/downloads/file/?id=537127"
jdbc-download-address = "https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-j-9.2.0.zip"

########################      APACHE/JAMES PARAMETERS     ########################
#The S3 bucket that is used for james server and is mounted into the EC2.
james_s3_bucket_name = "james.ec2.bucket"

james-image = "apache/james:jpa-3.8.2"

james-container-name = "james-cont"


########################          EC2 PARAMETERS          ########################
#EC2 properties.
#IMI for the EC2
#             Amazon linux:   "ami-08b5b3a93ed654d19"
#             Ubuntu:         "ami-04b4f1a9cf54c11d0"
ec2-ami = "ami-0a1a2a3a4a5a6a7a8a9a"

#package installer, yum or apt-get. Depending on the AMI
#             Amazon linux:   yum
#             Ubuntu:         apt-get
package-installer = "yum"

#EC2 home directory:
#             Amazon linux:   /home/ec2-user/
#             Ubuntu:         /root/ubuntu/
home-directory = "/home/ec2-user/"



